extends layout

block content
    h1 
        Visualize Twitter Sentiments

    div(id="main")

    script(src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.13/d3.min.js")
    script.
        var tweets= [];
        var colors = ["#2dae05", "#5ee833","#ffffff", "#b30a0a","#ec5e5e"]
        var socket = io.connect("http://localhost");
        var svgContainers = d3.select("#main")
        .append("svg")
        .attr("width", 900)
        .attr("height", 500)

        socket.on("tweet", function(data){
            console.log(data);
            tweets.push(data);
            console.log(tweets);


            var circle = svgContainers.selectAll("circle")
                .data(tweets)
                .enter()
                .append("circle")
            
            var circleAttributes = circle
                .attr("id", circle)
                .attr("r",function(d){
                    
                    return d.tweet.length/5;
                })
                .style("fill", function(d){
                    d=d.score
                    if(d<0.01){
                        console.log("here")
                        if(d<0.1)
                            return colors[0];
                        else 
                            return colors[1];
                    } else if(d>0.01){
                        if(d>0.1){
                            return colors[4];
                        } else {
                            return colors[3];
                        }
                    } else {
                        return colors[2];
                    }
                })
                .attr("cy",function(d,i){
                    return i*10;
                })
                .attr("cx", function(d){
                    
                    return ((d.score*350)+250)
                })
                .attr("fill-opacity", 0.5)
            /*
            var x = d3.select("#main").selectAll("p")
            .data(tweets)
            .enter()
            .append("p")
            .text(function(d){return d.tweet;});  
            */
        });
